* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav {
    height: 80px;
    background: #1c1f2b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc(100vw -1300px) /2;
}
.logo{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}
nav a {
    text-decoration: none;
    color: white;
    padding: 0 1.5rem;
}
button {
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    color: #ECDFCC;
    background: #3C3D37;
    cursor: pointer;
    border-radius: 20px;
}
button:hover {
    background: #fff;
    color: #000;
}
::placeholder {
    padding-left: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
input {
    width: 75%;
    height: 39px;
    margin: 20px 20px 20px;
    border-radius: 20px;
    background: #f3f3f385;
} 
.out_h2{
    width: 100%;
    padding: 10px 135px;
}
.image-container {
    margin: 0 auto;
    font-size: 1rem;
    height: 515px;
    width: 75%;
    background: #ECDFCC;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image-container img {
    padding: 10px;
    height: 90%;
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}
.downloadLink button {
    font-size: 14px;
    border: none;
    color: #ECDFCC;
    background: #3C3D37;
    cursor: pointer;
    border-radius: 20px;
}